<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MD Reader</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="index-closed">
	<div id="container">
		{{{body}}}
	</div>

	<script src="assets/js/bundle.js"></script>
</body>
</html>